<h3>Selected Fields</h3>
<pre data-sly-test="${properties.fieldsName == 'phoneno' && properties.contact}">Phone Number: ${properties.contact}</pre>
<pre data-sly-test="${properties.fieldsName == 'address' && properties.street}">Street: ${properties.street}</pre>
<pre data-sly-test="${properties.fieldsName == 'address' && properties.city}">City: ${properties.city}</pre>
<pre data-sly-test="${properties.fieldsName == 'address' && properties.state}">State: ${properties.state}</pre>
<pre data-sly-test="${properties.fieldsName == 'gender' && properties.selectedgender}">Gender: ${properties.selectedgender}</pre>
<pre data-sly-test="${properties.fieldsName == 'languages' && properties.english}">Language: ${properties.english}</pre>
<pre data-sly-test="${properties.fieldsName == 'languages' && properties.marathi}">Language: ${properties.marathi}</pre>
<pre data-sly-test="${properties.fieldsName == 'languages' && properties.hindi}">Language: ${properties.hindi}</pre>